{% extends "base.html" %}
{% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
首页
{% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-flex">
            <li class="breadcrumb-item {% if order != 'total_views' %}active{% endif %}">
                {% if order != 'total_views' %}
                <a style="color: red" href="{% url 'article:article_list' %}?search={{ search }}"> 最新 </a>
                {% else %}
                <a href="{% url 'article:article_list' %}?search={{ search }}">
                    最新
                </a>
                {% endif %}
            </li>
            <li class="breadcrumb-item {% if order == 'total_views' %}active{% endif %}">
                {% if order == 'total_views' %}
                <a style="color: red" href="{% url 'article:article_list' %}?order=total_views&search={{ search }}">
                    最热 </a>
                {% else %}
                <a href="{% url 'article:article_list' %}?order=total_views&search={{ search }}">
                    最热
                </a>
                {% endif %}
            </li>
        </ol>
        <form class="ml-auto" action="{% url 'article:article_list' %}" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索" name="search" required>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">搜索</button>
                </div>
            </div>
        </form>
        <!-- 新增，搜索提示语 -->
        {% if search %}
        {% if articles %}
        <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
        <hr>
        {% else %}
        <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
        <hr>
        {% endif %}
        {% endif %}
    </nav>


    <div class="row mt-2">


        {% for article in articles %}
        <!-- 文章内容 -->
        <div class="col-12">
            <!-- 栏目 -->
            {% if article.column %}
            <button type="button"
                    class="btn btn-sm mb-2
                        {% if article.column.title == 'Django' %}
                            btn-success
                        {% elif article.column.title == 'Java' %}
                            btn-danger
                        {% elif article.column.title == 'HTML' %}
                            btn-warning
                        {% endif %}">
                {{ article.column }}
            </button>
            {% endif %}
            <!-- 标题 -->
            <h4>
                <b>
                    <a href="{% url 'article:article_detail' article.id %}"
                       style="color: black;">
                        {{ article.title }}
                    </a>
                </b>
            </h4>
            <!-- 摘要 -->
            <div>
                <p style="color: gray;">
                    {{ article.content|slice:'100' }}...
                </p>
            </div>
            <!-- 注脚 -->
            <p>
                <!-- 附加信息 -->
                <span style="color: green;">
                    {{ article.total_views }} 浏览&nbsp;&nbsp;&nbsp;
                </span>
                <span style="color: blue;">
                    {{ article.created_date|date:'Y-m-d' }} 发布&nbsp;&nbsp;&nbsp;
                </span>
                <span style="color: darkred;">
                    {{ article.updated_date|date:'Y-m-d' }} 更新
                </span>
            </p>
            <hr>
        </div>
        {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="pagination row justify-content-center">
                    <span class="step-links">
                        <!-- If not the first page, show the previous page button -->
                        {% if articles.has_previous %}
                            <a href="?page={{ articles.previous_page_number }}&order={{ order }}{% if search %}&search={{ search }}{% endif %}"
                               class="btn btn-secondary">
                                &laquo;
                            </a>
                        {% else %}
                        <!-- If no previous page -->
                            <a href="#" class="btn btn-secondary disabled">
                                &laquo;
                            </a>
                        {% endif %}

                        <!-- Current page -->
                        <span class="current btn btn-danger btn-lg mx-2">
                            {{ articles.number }}
                        </span>

                        <!-- If not the last page, show the next page button -->
                        {% if articles.has_next %}
                            <a href="?page={{ articles.next_page_number }}&order={{ order }}{% if search %}&search={{ search }}{% endif %}"
                               class="btn btn-secondary">
                                &raquo;
                            </a>
                        {% else %}
                        <!-- If no next page -->
                            <a href="#" class="btn btn-secondary disabled">
                                &raquo;
                            </a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('.breadcrumb-item').click(function() {
        $('.breadcrumb-item').removeClass('active');
        $(this).addClass('active');
    });
});
















</script>


{% endblock content %}